<html>
{% load static %}
    <head>   
        <title>PyVGI app Prototype</title>    
        <link rel='stylesheet' type='text/css' href="{% static '/pyvgicss/index.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet/dist/leaflet.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet-draw/dist/leaflet.draw.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet-search/src/leaflet-search.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.css' %}">
        <link rel="stylesheet" type='text/css' href="{% static '/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type='text/css' href="{% static '/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/perfect-scrollbar/css/perfect-scrollbar.min.css' %}">
    </head>
    <body>          
        <div id="mapid">
            <div id="sensorbox">
                <iframe src="http://hydra.dei.uc.pt/station/manager/visual/DEC1/" height="500" width="700"></iframe>
            </div>
            <b><input type='button' id='hideshow' value='Rain sensor'></b>
            <div id="howtouse">
                <h4><b><font color="#3CBC8D">How to use</font></b></h4>
                <p><b>Search places:</b> magnifying glass icon on the top left corner.</p>
                <p><b>Choose base map:</b> Choose between osm and sattelite on the top left corner.</p>
                <p>----</p>
                <p><b>Sensors:</b> On the top right corner, the button "Rain Sensor" opens a windows where you can query data from the sensor. Deselect the sensor marker in the top left corner.</p>
                <p><b>Choose query location:</b> Click on the marker icon on the top left corner and click on the desire location. If needed, delete the marker using the trash icon and then save it.</p>
                <p><b>Query from OpenStreetMap:</b> Choose the feature and the value to query from the top right corner form. Any of these fields can have blank value.</p>
                <p><b>Query from Flickr or Twitter:</b> Choose what social media(s) you want to query from in the top righ corner form. Coordinates are automatically filled when a location marker is placed, or you can choose it manually. A keyword, a radius and a number of posts for each source can be choosen as well.</p>
            </div>
            <b><input type='button' id='howtobutton' value='How to use'></b>
            <div id="text">
                <div id="userinput">
                    <form id='myForm' method='POST' action='/pyvgi/results/'> {% csrf_token %}
                        <h4 id='f'><center><b>OpenStreeMap Data</b></h4></center>
                        <center><label>Feature</label></center>
                        <center><select id='key' name='osmkey'>
                            <option value=" "> </option>
                            <option value="amenity">amenity</option>
                            <option value="barrier">barrier</option>
                            <option value="boundary">boundary</option>
                            <option value="building">building</option>
                            <option value="highway">highway</option>
                            <option value="historic">historic</option>
                            <option value="landuse">landuse</option>
                            <option value="leisure">leisure</option>
                            <option value="man_made">man_made</option>
                            <option value="natural">natural</option>
                            <option value="office">office</option>
                            <option value="place">place</option>
                            <option value="public_transport">public_transport</option>
                            <option value="railway">railway</option>
                            <option value="shop">shop</option>
                            <option value="tourism">tourism</option>
                            <option value="waterway">waterway</option>
                        </select></center>
                        <br />
                        <center><label>Value</label></center>
                        <center><select id='amenity' name='a_value'>
                            <option value=" "> </option>
                            <option value="arts_centre">arts_centre</option>
                            <option value="atm">atm</option>
                            <option value="bank">bank</option>
                            <option value="bar">bar</option>
                            <option value="bench">bench</option>
                            <option value="bicycle_parking">bicycle_parking</option>
                            <option value="cafe">cafe</option>
                            <option value="charging_station">charging_station</option>
                            <option value="college">college</option>
                            <option value="dentist">dentist</option>
                            <option value="doctors">doctors</option>
                            <option value="fast_food">fast_food</option>
                            <option value="ferry_terminal">ferry_terminal</option>
                            <option value="fountain">fountain</option>
                            <option value="fuel">fuel</option>
                            <option value="hospital">hospital</option>
                            <option value="kindergarten">kindergarten</option>
                            <option value="library">library</option>
                            <option value="nightclub">nightclub</option>
                            <option value="parking">parking</option>
                            <option value="parking_entrance">parking_entrance</option>
                            <option value="pharmacy">pharmacy</option>
                            <option value="place_of_worship">place_of_worship</option>
                            <option value="police">police</option>
                            <option value="post_box">post_box</option>
                            <option value="post_office">post_office</option>
                            <option value="pub">pub</option>
                            <option value="recycling">recycling</option>
                            <option value="restaurant">restaurant</option>
                            <option value="school">school</option>
                            <option value="taxi">taxi</option>
                            <option value="telephone">telephone</option>
                            <option value="toilets">toilets</option>
                        </select></center>
                        <center><select id='barrier' name='ba_value'>
                            <option value=" "> </option>
                            <option value="bollard">bollard</option>
                            <option value="chain">chain</option>
                            <option value="gate">gate</option>
                            <option value="lift_gate">lift_gate</option>
                            <option value="retaining_wall">retaining_wall</option>
                            <option value="wall">wall</option>
                        </select></center>
                        <center><select id='boundary' name='bo_value'>
                            <option value=" "> </option>
                            <option value="administrative">administrative</option>
                        </select></center>
                        <center><select id='building' name='bu_value'>
                            <option value=" "> </option>
                            <option value="apartments">apartments</option>
                            <option value="commercial">commercial</option>
                            <option value="dormitory">dormitory</option>
                            <option value="garages">garages</option>
                            <option value="hospital">hospital</option>
                            <option value="house">house</option>
                            <option value="public">public</option>
                            <option value="residential">residential</option>
                            <option value="roof">roof</option>
                            <option value="school">school</option>
                            <option value="university">university</option>
                            <option value="yes">yes</option>
                        </select></center>
                        <center><select id='highway' name='hig_value'>
                            <option value=" "> </option>
                            <option value="bus_stop">bus_stop</option>
                            <option value="crossing">crossing</option>
                            <option value="footway">footway</option>
                            <option value="motorway_junction">motorway_junction</option>
                            <option value="path">path</option>
                            <option value="pedestrian">pedestrian</option>
                            <option value="primary">primary</option>
                            <option value="primary_link">primary_link</option>
                            <option value="residential">residential</option>
                            <option value="secondary">secondary</option>
                            <option value="secondary_link">secondary_link</option>
                            <option value="service">service</option>
                            <option value="steps">steps</option>
                            <option value="tertiary">tertiary</option>
                            <option value="tertiary_link">tertiary_link</option>
                            <option value="track">track</option>
                            <option value="traffic_signals">traffic_signals</option>
                            <option value="turning_circle">turning_circle</option>
                            <option value="unclassified">unclassified</option>
                        </select></center>
                        <center><select id='historic' name='his_value'>
                            <option value=" "> </option>
                            <option value="heritage">heritage</option>
                            <option value="memorial">memorial</option>
                            <option value="monastery">monastery</option>
                            <option value="monument">monument</option>
                            <option value="ruins">ruins</option>
                        </select></center>
                        <center><select id='landuse' name='lan_value'>
                            <option value=" "> </option>
                            <option value="construction">construction</option>
                            <option value="farmland">farmland</option>
                            <option value="grass">grass</option>
                            <option value="meadow">meadow</option>
                            <option value="military">military</option>
                            <option value="recreation_ground">recreation_ground</option>
                            <option value="retail">retail</option>
                        </select></center>
                        <center><select id='leisure' name='lei_value'>
                            <option value=" "> </option>
                            <option value="garden">garden</option>
                            <option value="park">park</option>
                            <option value="pitch">pitch</option>
                            <option value="playground">playground</option>
                            <option value="recreation_ground">recreation_ground</option>
                            <option value="slipway">slipway</option>
                            <option value="sports_centre">sports_centre</option>
                        </select></center>
                        <center><select id='manmade' name='man_value'>
                            <option value=" "> </option>
                            <option value="survey_point">survey_point</option>
                            <option value="reservoir_covered">reservoir_covered</option>
                            <option value="tower">tower</option>
                        </select></center>
                        <center><select id='natural' name='nat_value'>
                            <option value=" "> </option>
                            <option value="grassland">grassland</option>
                            <option value="tree">tree</option>
                            <option value="water">water</option>
                        </select></center>
                        <center><select id='office' name='o_value'>
                            <option value=" "> </option>
                            <option value="estate_agent">estate_agent</option>
                        </select></center>
                        <center><select id='place' name='pl_value'>
                            <option value=" "> </option>
                            <option value="city">city</option>
                            <option value="neighbourhood">neighbourhood</option>
                            <option value="suburb">suburb</option>
                        </select></center>
                        <center><select id='publictransport' name='pt_value'>
                            <option value=" "> </option>
                            <option value="platform">platform</option>
                            <option value="stop_position">stop_position</option>
                        </select></center>
                        <center><select id='railway' name='r_value'>
                            <option value=" "> </option>
                            <option value="buffer_stop">buffer_stop</option>
                            <option value="disused">disused</option>
                            <option value="level_crossing">level_crossing</option>
                            <option value="platform">platform</option>
                            <option value="rail">rail</option>
                            <option value="station">station</option>
                            <option value="tram">tram</option>
                            <option value="tram_stop">tram_stop</option>
                        </select></center>
                        <center><select id='shop' name='s_value'>
                            <option value=" "> </option>
                            <option value="alcohol">alcohol</option>
                            <option value="bakery">bakery</option>
                            <option value="books">books</option>
                            <option value="clothes">clothes</option>
                            <option value="confectionery">confectionery</option>
                            <option value="convenience">convenience</option>
                            <option value="copyshop">copyshop</option>
                            <option value="department_store">department_store</option>
                            <option value="garden_centre">garden_centre</option>
                            <option value="gift">gift</option>
                            <option value="hairdresser">hairdresser</option>
                            <option value="jewelry;pawnbroker">jewelry;pawnbroker</option>
                            <option value="laundry">laundry</option>
                            <option value="mall">mall</option>
                            <option value="music">music</option>
                            <option value="optician">optician</option>
                            <option value="shoes">shoes</option>
                            <option value="sports">sports</option>
                            <option value="supermarket">supermarket</option>
                            <option value="tobacco">tobacco</option>
                        </select></center>
                        <center><select id='tourism' name='t_value'>
                            <option value=" "> </option>
                            <option value="artwork">artwork</option>
                            <option value="attraction">attraction</option>
                            <option value="guest_house">guest_house</option>
                            <option value="hostel">hostel</option>
                            <option value="hotel">hotel</option>
                            <option value="information">information</option>
                            <option value="museum">museum</option>
                            <option value="pavilion">pavilion</option>
                            <option value="theme_park">theme_park</option>
                            <option value="viewpoint">viewpoint</option>
                        </select></center>
                        <center><select id='waterway' name='w_value'>
                            <option value=" "> </option>
                            <option value="canal">canal</option>
                            <option value="river">river</option>
                            <option value="riverbank">riverbank</option>
                            <option value="stream">stream</option>
                        </select></center>                        
                        
                        <h5 id='f'><center><b>-------------------------------------------</b></h5></center>
                        
                        <h4 id='f'><center><b>{{ form.fl.label }}</b>
                        {{ form.fl }}</h4></center>
                        <h4 id='f'><center><b>{{ form.tw.label }}</b>
                        {{ form.tw }}</h4></center>
                        <h5 id='f'><center><b>{{ form.lat.label }}</b></center>
                        <center>{{ form.lat }}</h5></center>
                        <h5 id='f'><center><p><b>{{ form.lon.label }}</b></center>
                        <center>{{ form.lon }}</p></h5></center>
                        <h5 id='f'><center><p><b>{{ form.keyw.label }}</b></center>
                        <center>{{ form.keyw }}</p></h5></center>
                        <!-- <h5 id='f'><center><p><b>{{ form.date.label }}</b> -->
                        <!--{{ form.date }}</p></h5></center>-->
                        <h5 id='f'><center><p><b>{{ form.rad.label }}</b></p></h5></center>
                        <h6 id='f'><center><b>(Flickr max 32, Twitter max 4.4)</h6></center>
                        <h5 id='f'><center><b>{{ form.rad }}</h5></center>
                        <h5 id='f'><center><p><b>{{ form.perp.label }}</b></p></h5><center>
                        <h6 id='f'><center><p><b>(Flickr max 250)</p></h6><center>
                        <h5 id='f'><center><p><b>{{ form.perp }}</p></h5><center>
                        <input type='submit' value='Request'>
                    </form>
                </div>
        </div>   
    </body>
    <script type="text/javascript" src="{% static '/jquery/dist/jquery.min.js' %}"> </script>
    <script type="text/javascript" src="{% static '/perfect-scrollbar/js/perfect-scrollbar.min.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet/dist/leaflet.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet-draw/dist/leaflet.draw.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet-search/src/leaflet-search.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.js' %}"> </script>
    <script type="text/javascript" src="{% static '/pyvgijs/index.js' %}"> </script>
</html>