<html>
{% load static %}
{% load geojson_tags %}
    <head>
        <title>PyVGI App Prototype</title>
        <link rel='stylesheet' type='text/css' href="{% static '/pyvgicss/layers.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet/dist/leaflet.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet.markercluster/dist/MarkerCluster.css' %}">
        <link rel='stylesheet' type='text/css' href="{% static '/leaflet.markercluster/dist/MarkerCluster.Default.css' %}">
    </head>
    <body>
        <div id="mapid">
        <div id="sensorbox">
                <iframe src="http://hydra.dei.uc.pt/station/manager/visual/DEC1/" height="500" width="700"></iframe>
        </div>
        <input type='button' id='hideshow' value='Rain sensor'>
    </body>
    <script type="text/javascript" src="{% static '/jquery/dist/jquery.min.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet/dist/leaflet.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet-ajax/dist/leaflet.ajax.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet-groupedlayercontrol/src/leaflet.groupedlayercontrol.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet.markercluster/dist/leaflet.markercluster.js' %}"> </script>
    <script type="text/javascript" src="{% static '/leaflet.markercluster/dist/leaflet.markercluster-src.js' %}"> </script>
    <script>
            //Get the coordinates values from index.html page
            var lat = {{ lat|safe|escape }};
            var lon = {{ lng|safe|escape }};
            
            //Create the urls for Flickr and Twitter data
            var urlf = '/pyvgi/togeojson/{{ id_user|safe|escape }}/{{ file_name_f|safe|escape }}'
            var urlt = '/pyvgi/togeojson/{{ id_user|safe|escape }}/{{ file_name_t|safe|escape }}'
            
            //Display flickr data
            var fdata = new L.GeoJSON.AJAX(urlf,{
                pointToLayer: function(feature, latlng){
                            var marker = L.marker(latlng, {icon: ficon});
                        marker.bindPopup("<b style='color:DeepPink;'>Flickr</b>"+"<br>"+"<b>Title: </b>"+feature.properties.Title+"<br>"+"<b>Taken date: </b>"+feature.properties.TakenDate+"<br>"+"<b>Upload date: </b>"+feature.properties.UploadDate+"<br>"+"<b>URL: </b>"+"<a href='"+feature.properties.URL+"'"+" target='_blank'>Click</a>");
                return marker;                        
                },
                onEachFeature: function(feature, layer){
                                    layer.addTo(fmarker);
                                            layer.addTo(allmarker);
                                }
                });
            
            //Display twitter data
            var tdata = new L.GeoJSON.AJAX(urlt,{
                        pointToLayer: function(feature, latlng){
                                    var marker = L.marker(latlng,{icon: ticon});
                                marker.bindPopup("<b style='color:DeepSkyBlue;'>Twitter</b>"+"<br>"+"<b>Description: </b>"+feature.properties.Dscription+"<br>"+"<b>Upload date: </b>"+feature.properties.UploadDate+"<br>"+"<b>URL: </b>"+"<a href='"+feature.properties.URL+"'"+" target='_blank'>Click</a>");
                return marker;
                },
                onEachFeature: function(feature, layer){
                                    layer.addTo(tmarker);
                                            layer.addTo(allmarker);
                                }
                });
            
            //Get the value of the osm key from the local storage
            var osmkey = localStorage["osmkey"];
            
            //Display OSM data according to the osm key selected
            if (osmkey === 'amenity'){
                        var amenitypt = new L.GeoJSON.AJAX("{% url 'amenitypt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Amenity</b>"+"<br>"+"<b>Value: </b>"+feature.properties.amenity+"<br>"+"<b>Name: </b>"+feature.properties.name);
                return marker;
                },
                onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                });    
            } else if (osmkey === 'barrier'){
                var barrierline = new L.GeoJSON.AJAX("{% url 'barrierline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Barrier</b>"+"<br>"+"<b>Value: </b>"+feature.properties.barrier+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var barrierpt = new L.GeoJSON.AJAX("{% url 'barrierpt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Barrier</b>"+"<br>"+"<b>Value: </b>"+feature.properties.barrier+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });     
            } else if (osmkey === 'boundary'){
                var boundaryline = new L.GeoJSON.AJAX("{% url 'boundaryline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Boundary</b>"+"<br>"+"<b>Value: </b>"+feature.properties.boundary+"<br>"+"<b>Border Type: </b>"+feature.properties.border_typ);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'building'){
                var buildingline = new L.GeoJSON.AJAX("{% url 'buildingline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Building</b>"+"<br>"+"<b>Value: </b>"+feature.properties.building+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var buildingpt = new L.GeoJSON.AJAX("{% url 'buildingpt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Building</b>"+"<br>"+"<b>Value: </b>"+feature.properties.building+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'highway'){
                var highwayline = new L.GeoJSON.AJAX("{% url 'highwayline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Highway</b>"+"<br>"+"<b>Value: </b>"+feature.properties.highway+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var highwaypt = new L.GeoJSON.AJAX("{% url 'highwaypt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Highway</b>"+"<br>"+"<b>Value: </b>"+feature.properties.highway+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'historic'){
                var historicline = new L.GeoJSON.AJAX("{% url 'historicline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Historic</b>"+"<br>"+"<b>Value: </b>"+feature.properties.historic+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var historicpt = new L.GeoJSON.AJAX("{% url 'historicpt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Historic</b>"+"<br>"+"<b>Value: </b>"+feature.properties.historic+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'landuse'){
                var landuseline = new L.GeoJSON.AJAX("{% url 'landuseline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Landuse</b>"+"<br>"+"<b>Value: </b>"+feature.properties.landuse+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'leisure'){
                var leisureline = new L.GeoJSON.AJAX("{% url 'leisureline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Leisure</b>"+"<br>"+"<b>Value: </b>"+feature.properties.leisure+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var leisurept = new L.GeoJSON.AJAX("{% url 'leisurept_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Leisure</b>"+"<br>"+"<b>Value: </b>"+feature.properties.leisure+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'man_made'){
                var manmadeline = new L.GeoJSON.AJAX("{% url 'manmadeline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Man_made</b>"+"<br>"+"<b>Value: </b>"+feature.properties.man_made+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var manmadept = new L.GeoJSON.AJAX("{% url 'manmadept_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Man_made</b>"+"<br>"+"<b>Value: </b>"+feature.properties.man_made+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'natural'){
                var naturalline = new L.GeoJSON.AJAX("{% url 'naturalline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Natural</b>"+"<br>"+"<b>Value: </b>"+feature.properties.natural+"<br>");
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var naturalpt = new L.GeoJSON.AJAX("{% url 'naturalpt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Natural</b>"+"<br>"+"<b>Value: </b>"+feature.properties.natural+"<br>");
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'office'){
                var office = new L.GeoJSON.AJAX("{% url 'office_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Office</b>"+"<br>"+"<b>Value: </b>"+feature.properties.office+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
            } else if (osmkey === 'place'){
                var place = new L.GeoJSON.AJAX("{% url 'place_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Place</b>"+"<br>"+"<b>Value: </b>"+feature.properties.place+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });    
            } else if (osmkey === 'public_transport'){
                var publictransportline = new L.GeoJSON.AJAX("{% url 'publictransportline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Public_transport</b>"+"<br>"+"<b>Value: </b>"+feature.properties.public_tra+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var publictransportpt = new L.GeoJSON.AJAX("{% url 'publictransportpt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Public_transport</b>"+"<br>"+"<b>Value: </b>"+feature.properties.public_tra+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'railway'){
                var railwayline = new L.GeoJSON.AJAX("{% url 'railwayline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Railway</b>"+"<br>"+"<b>Value: </b>"+feature.properties.railway+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var railwaypt = new L.GeoJSON.AJAX("{% url 'railwaypt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Railway</b>"+"<br>"+"<b>Value: </b>"+feature.properties.railway+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'shop'){
                var shopline = new L.GeoJSON.AJAX("{% url 'shopline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Shop</b>"+"<br>"+"<b>Value: </b>"+feature.properties.shop+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var shoppt = new L.GeoJSON.AJAX("{% url 'shoppt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Shop</b>"+"<br>"+"<b>Value: </b>"+feature.properties.shop+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'tourism'){
                var tourismline = new L.GeoJSON.AJAX("{% url 'tourismline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Tourism</b>"+"<br>"+"<b>Value: </b>"+feature.properties.tourism+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            
                var tourismpt = new L.GeoJSON.AJAX("{% url 'tourismpt_layer' %}",{
                                    pointToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                                            marker.bindPopup("<b style='color:green;'>OSM Tourism</b>"+"<br>"+"<b>Value: </b>"+feature.properties.tourism+"<br>"+"<b>Name: </b>"+feature.properties.name);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else if (osmkey === 'waterway'){
                var waterwayline = new L.GeoJSON.AJAX("{% url 'waterwayline_layer' %}",{
                                    lineToLayer: function(feature, latlng){
                                                var marker = L.marker(latlng);
                    return marker;
                    },
                    onEachFeature: function(feature, layer){
                                                layer.bindPopup("<b style='color:green;'>OSM Waterway</b>"+"<br>"+"<b>Value: </b>"+feature.properties.waterway+"<br>"+"<b>Name: </b>"+feature.properties.name);
                                                        layer.addTo(osmmarker);
                                                        layer.addTo(allmarker);
                                            }
                    });
            } else {}
    </script>
    <script type="text/javascript" src="{% static '/pyvgijs/layers.js' %}"> </script>
</html>