html, body, #mapid {
    margin: 0;
    width: 100%;
    height: 100%;
}

#text {
    position: absolute;
    top: 0.5em;
    right: 1em;
    bottom: 0.5em;
    width: 250px;
    z-index: 20000;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: 0.8;
    margin: 20px 10px;
    overflow: hidden
}

#howtouse {
    position: absolute;
    left: 0em;
    bottom: 2.7em;
    width: 775px;
    height: 300px;
    z-index: 20000;
    border: 2px solid black;
    border-radius: 4px;
    padding: 0 0.5em 0em 1em;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: 0.8;
    margin: 20px 10px;
    overflow: hidden;
    display: none
}

#howtobutton {
    position:absolute;
    bottom: 1em;
    left: 0em;
    z-index: 20000;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: 0.8;
    margin: 20px 10px;
}

#sensorbox {
    position:absolute;
    top: 2.5em;
    right: 22em;
    width: 700px;
    height: 500px;
    z-index: 20000;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: 0.8;
    margin: 20px 10px;
    overflow: hidden;
    display: none;
    overflow: hidden
}

#hideshow {
    position:absolute;
    top: 0.5em;
    right: 22em;
    z-index: 20000;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: 0.8;
    margin: 20px 10px;
}

input[type=text] {
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: black;
    text-align: center;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 15px;
    cursor: pointer;
}