html, body, #mapid {
    margin: 0;
    width: 100%;
    height: 100%;
}

#sensorbox {
    position:absolute;
    top: 15em;
    right: 0em;
    width: 700px;
    height: 500px;
    z-index: 20000;
    border: 2px solid black;
    border-radius: 4px
    padding: 0 0.5em 0.5em 0.5em;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: 0.8;
    margin: 20px 10px;
    overflow: hidden;
    display: none;
}

#hideshow {
    position:absolute;
    top: 13.5em;
    right: 0em;
    z-index: 20000;
    border: 2px solid black;
    border-radius: 4px
    padding: 0 0.5em 0.5em 0.5em;
    background-color: white;
    filter: alpha(opacity=20);
    opacity: 0.8;
    margin: 20px 10px;
}